# Préparation de l'environnement
## Chargement des librairies et configuration des paramètres d'affichage

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import tarfile
import os

# Configuring display settings
plt.rcParams['figure.figsize'] = (12, 9)
sns.set()
sns.set_context('talk')
np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)
pd.set_option('display.float_format', '{:.2f}'.format)
warnings.filterwarnings("ignore", category=FutureWarning)

## Chargement et exploration des données

In [8]:
# Path to the dataset
src_path = "src"
general_data_file_path = os.path.join(src_path, "general_data.csv")
# Load the dataset

general_data = pd.read_csv(general_data_file_path)

## Afficher les informations générales du jeu de données

In [9]:
general_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

## Afficher les statistiques descriptives du jeu de données

In [10]:
general_data.describe(include='all')

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,4410.00,4410,4410,4410,4410.00,4410.00,4410,4410.00,4410.00,4410,4410.00,4410,4410,4410.00,4391.00,4410,4410.00,4410.00,4410.00,4401.00,4410.00,4410.00,4410.00,4410.00
unique,NaN,2,3,3,NaN,NaN,6,NaN,NaN,2,NaN,9,3,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,No,Travel_Rarely,Research & Development,NaN,NaN,Life Sciences,NaN,NaN,Male,NaN,Sales Executive,Married,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,3699,3129,2883,NaN,NaN,1818,NaN,NaN,2646,NaN,978,2019,NaN,NaN,4410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,36.92,NaN,NaN,NaN,9.19,2.91,NaN,1.00,2205.50,NaN,2.06,NaN,NaN,65029.31,2.69,NaN,15.21,8.00,0.79,11.28,2.80,7.01,2.19,4.12
std,9.13,NaN,NaN,NaN,8.11,1.02,NaN,0.00,1273.20,NaN,1.11,NaN,NaN,47068.89,2.50,NaN,3.66,0.00,0.85,7.78,1.29,6.13,3.22,3.57
min,18.00,NaN,NaN,NaN,1.00,1.00,NaN,1.00,1.00,NaN,1.00,NaN,NaN,10090.00,0.00,NaN,11.00,8.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,30.00,NaN,NaN,NaN,2.00,2.00,NaN,1.00,1103.25,NaN,1.00,NaN,NaN,29110.00,1.00,NaN,12.00,8.00,0.00,6.00,2.00,3.00,0.00,2.00
50%,36.00,NaN,NaN,NaN,7.00,3.00,NaN,1.00,2205.50,NaN,2.00,NaN,NaN,49190.00,2.00,NaN,14.00,8.00,1.00,10.00,3.00,5.00,1.00,3.00
75%,43.00,NaN,NaN,NaN,14.00,4.00,NaN,1.00,3307.75,NaN,3.00,NaN,NaN,83800.00,4.00,NaN,18.00,8.00,1.00,15.00,3.00,9.00,3.00,7.00
max,60.00,NaN,NaN,NaN,29.00,5.00,NaN,1.00,4410.00,NaN,5.00,NaN,NaN,199990.00,9.00,NaN,25.00,8.00,3.00,40.00,6.00,40.00,15.00,17.00

## Afficher les premières lignes du jeu de données

In [11]:
general_data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.00,Y,11,8,0,1.00,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.00,Y,23,8,1,6.00,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.00,Y,15,8,3,5.00,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.00,Y,11,8,3,13.00,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.00,Y,12,8,2,9.00,2,6,0,4

# Bibliographie
## Sources méthodologiques et théoriques : 
références traitant des bases théoriques et des modèles méthodologiques employés.

## Sources sur les aspects techniques : 
ouvrages ou articles décrivant les techniques spécifiques utilisées.

## Sources éthiques et sociétales : 
ressources relatives aux normes et aux enjeux éthiques dans votre domaine.

## Sources spécifiques au projet : 
articles, études de cas ou rapports ayant directement inspiré ou orienté vos choix.