# 1) Importation des librairies

In [42]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Pour la séparation des données en train/test
from sklearn.model_selection import train_test_split

# Pour la création et l'évaluation de modèles
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score, accuracy_score

# 2) Chargement des données

In [43]:
# Lis les différents fichiers CSV
folder = "src/"
df_general = pd.read_csv(folder + "general_data.csv")
df_emp_survey = pd.read_csv(folder + "employee_survey_data.csv")
df_mgr_survey = pd.read_csv(folder + "manager_survey_data.csv")
df_in_time = pd.read_csv(folder + "in_time.csv")
df_out_time = pd.read_csv(folder + "out_time.csv")

# 3) Exploration des données

In [44]:
print("=== General Data ===")
print(df_general.head(), "\n")
print(df_general.info(), "\n")

print("=== Employee Survey Data ===")
print(df_emp_survey.head(), "\n")
print(df_emp_survey.info(), "\n")

print("=== Manager Survey Data ===")
print(df_mgr_survey.head(), "\n")
print(df_mgr_survey.info(), "\n")

print("=== In Time Data ===")
print(df_in_time.head(), "\n")
print(df_in_time.info(), "\n")

print("=== Out Time Data ===")
print(df_out_time.head(), "\n")
print(df_out_time.info(), "\n")

=== General Data ===
   Age Attrition     BusinessTravel              Department  DistanceFromHome  \
0   51        No      Travel_Rarely                   Sales                 6
1   31       Yes  Travel_Frequently  Research & Development                10
2   32        No  Travel_Frequently  Research & Development                17
3   38        No         Non-Travel  Research & Development                 2
4   32        No      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
0                 1.0      Y                11              8
1                 0.0      Y                23              8
2                 1.0      Y                15              8
3                 3.0      Y                11              8
4                 4.0      Y                12              8

   StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                 0               1.0                      6               1
1                 1               6.0                      3               5
2                 3               5.0                      2               5
3                 3              13.0                      5               8
4                 2               9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     0
1                        1                     4
2                        0                     3
3                        7                     5
4                        0                     4

[5 rows x 24 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB
None

=== Employee Survey Data ===
   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4385 non-null   float64
 2   JobSatisfaction          4390 non-null   float64
 3   WorkLifeBalance          4372 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 137.9 KB
None

=== Manager Survey Data ===
   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         4410 non-null   int64
 1   JobInvolvement     4410 non-null   int64
 2   PerformanceRating  4410 non-null   int64
dtypes: int64(3)
memory usage: 103.5 KB
None

=== In Time Data ===
   Unnamed: 0  2015-01-01           2015-01-02           2015-01-05  \
0           1         NaN  2015-01-02 09:43:45  2015-01-05 10:08:48
1           2         NaN  2015-01-02 10:15:44  2015-01-05 10:21:05
2           3         NaN  2015-01-02 10:17:41  2015-01-05 09:50:50
3           4         NaN  2015-01-02 10:05:06  2015-01-05 09:56:32
4           5         NaN  2015-01-02 10:28:17  2015-01-05 09:49:58

            2015-01-06           2015-01-07           2015-01-08  \
0  2015-01-06 09:54:26  2015-01-07 09:34:31  2015-01-08 09:51:09
1                  NaN  2015-01-07 09:45:17  2015-01-08 10:09:04
2  2015-01-06 10:14:13  2015-01-07 09:47:27  2015-01-08 10:03:40
3  2015-01-06 10:11:07  2015-01-07 09:37:30  2015-01-08 10:02:08
4  2015-01-06 09:45:28  2015-01-07 09:49:37  2015-01-08 10:19:44

            2015-01-09           2015-01-12           2015-01-13  ...  \
0  2015-01-09 10:09:25  2015-01-12 09:42:53  2015-01-13 10:13:06  ...
1  2015-01-09 09:43:26  2015-01-12 10:00:07  2015-01-13 10:43:29  ...
2  2015-01-09 10:05:49  2015-01-12 10:03:47  2015-01-13 10:21:26  ...
3  2015-01-09 10:08:12  2015-01-12 10:13:42  2015-01-13 09:53:22  ...
4  2015-01-09 10:00:50  2015-01-12 10:29:27  2015-01-13 09:59:32  ...

            2015-12-18           2015-12-21           2015-12-22  \
0                  NaN  2015-12-21 09:55:29  2015-12-22 10:04:06
1  2015-12-18 10:37:17  2015-12-21 09:49:02  2015-12-22 10:33:51
2  2015-12-18 10:15:14  2015-12-21 10:10:28  2015-12-22 09:44:44
3  2015-12-18 10:17:38  2015-12-21 09:58:21  2015-12-22 10:04:25
4  2015-12-18 09:58:35  2015-12-21 10:03:41  2015-12-22 10:10:30

            2015-12-23           2015-12-24 2015-12-25           2015-12-28  \
0  2015-12-23 10:14:27  2015-12-24 10:11:35        NaN  2015-12-28 10:13:41
1  2015-12-23 10:12:10                  NaN        NaN  2015-12-28 09:31:45
2  2015-12-23 10:15:54  2015-12-24 10:07:26        NaN  2015-12-28 09:42:05
3  2015-12-23 10:11:46  2015-12-24 09:43:15        NaN  2015-12-28 09:52:44
4  2015-12-23 10:13:36  2015-12-24 09:44:24        NaN  2015-12-28 10:05:15

            2015-12-29           2015-12-30           2015-12-31
0  2015-12-29 10:03:36  2015-12-30 09:54:12  2015-12-31 10:12:44
1  2015-12-29 09:55:49  2015-12-30 10:32:25  2015-12-31 09:27:20
2  2015-12-29 09:43:36  2015-12-30 09:34:05  2015-12-31 10:28:39
3  2015-12-29 09:33:16  2015-12-30 10:18:12  2015-12-31 10:01:15
4  2015-12-29 10:30:53  2015-12-30 09:18:21  2015-12-31 09:41:09

[5 rows x 262 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Columns: 262 entries, Unnamed: 0 to 2015-12-31
dtypes: float64(12), int64(1), object(249)
memory usage: 8.8+ MB
None

=== Out Time Data ===
   Unnamed: 0  2015-01-01           2015-01-02           2015-01-05  \
0           1         NaN  2015-01-02 16:56:15  2015-01-05 17:20:11
1           2         NaN  2015-01-02 18:22:17  2015-01-05 17:48:22
2           3         NaN  2015-01-02 16:59:14  2015-01-05 17:06:46
3           4         NaN  2015-01-02 17:25:24  2015-01-05 17:14:03
4           5         NaN  2015-01-02 18:31:37  2015-01-05 17:49:15

            2015-01-06           2015-01-07           2015-01-08  \
0  2015-01-06 17:19:05  2015-01-07 16:34:55  2015-01-08 17:08:32
1                  NaN  2015-01-07 17:09:06  2015-01-08 17:34:04
2  2015-01-06 16:38:32  2015-01-07 16:33:21  2015-01-08 17:24:22
3  2015-01-06 17:07:42  2015-01-07 16:32:40  2015-01-08 16:53:11
4  2015-01-06 17:26:25  2015-01-07 17:37:59  2015-01-08 17:59:28

            2015-01-09           2015-01-12           2015-01-13  ...  \
0  2015-01-09 17:38:29  2015-01-12 16:58:39  2015-01-13 18:02:58  ...
1  2015-01-09 16:52:29  2015-01-12 17:36:48  2015-01-13 18:00:13  ...
2  2015-01-09 16:57:30  2015-01-12 17:28:54  2015-01-13 17:21:25  ...
3  2015-01-09 17:19:47  2015-01-12 17:13:37  2015-01-13 17:11:45  ...
4  2015-01-09 17:44:08  2015-01-12 18:51:21  2015-01-13 18:14:58  ...

            2015-12-18           2015-12-21           2015-12-22  \
0                  NaN  2015-12-21 17:15:50  2015-12-22 17:27:51
1  2015-12-18 18:31:28  2015-12-21 17:34:16  2015-12-22 18:16:35
2  2015-12-18 17:02:23  2015-12-21 17:20:17  2015-12-22 16:32:50
3  2015-12-18 17:55:23  2015-12-21 16:49:09  2015-12-22 17:24:00
4  2015-12-18 17:52:48  2015-12-21 17:43:35  2015-12-22 18:07:57

            2015-12-23           2015-12-24 2015-12-25           2015-12-28  \
0  2015-12-23 16:44:44  2015-12-24 17:47:22        NaN  2015-12-28 18:00:07
1  2015-12-23 17:38:18                  NaN        NaN  2015-12-28 17:08:38
2  2015-12-23 16:59:43  2015-12-24 16:58:25        NaN  2015-12-28 16:43:31
3  2015-12-23 17:36:35  2015-12-24 16:48:21        NaN  2015-12-28 17:19:34
4  2015-12-23 18:00:49  2015-12-24 17:59:22        NaN  2015-12-28 17:44:59

            2015-12-29           2015-12-30           2015-12-31
0  2015-12-29 17:22:30  2015-12-30 17:40:56  2015-12-31 17:17:33
1  2015-12-29 17:54:46  2015-12-30 18:31:35  2015-12-31 17:40:58
2  2015-12-29 17:09:56  2015-12-30 17:06:25  2015-12-31 17:15:50
3  2015-12-29 16:58:16  2015-12-30 17:40:11  2015-12-31 17:09:14
4  2015-12-29 18:47:00  2015-12-30 17:15:33  2015-12-31 17:42:14

[5 rows x 262 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Columns: 262 entries, Unnamed: 0 to 2015-12-31
dtypes: float64(12), int64(1), object(249)
memory usage: 8.8+ MB
None

 # 4) Fusion des données

## 4.1) Merge general_data, employee_survey_data et manager_survey_data

In [45]:
df_merged = pd.merge(df_general, df_emp_survey, on="EmployeeID")
df_merged = pd.merge(df_merged, df_mgr_survey, on="EmployeeID")

## 4.2) Calculer le nombre d'heures travaillées par jour
On va aussi créer des features à partir de df_in_time et df_out_time (par exemple : nombre d'heures travaillées moyennes). </br>
Les colonnes de in_time / out_time sont des dates/heures pour chaque jour travaillé.

In [46]:
#  - Pour chaque employé, on peut calculer la différence out_time - in_time (en heures) pour chaque jour.
#  - Ensuite on peut faire la moyenne sur toutes les dates disponibles pour obtenir "moyenne d'heures/jour"

# Replace Unnamed header by EmployeeID
df_in_time.rename(columns={"Unnamed: 0": "EmployeeID"}, inplace=True)
df_out_time.rename(columns={"Unnamed: 0": "EmployeeID"}, inplace=True)

# Suppression de la première colonne "EmployeeID" pour faciliter les opérations (on la conserve à part)
df_in_time_id = df_in_time['EmployeeID']
df_out_time_id = df_out_time['EmployeeID']

# On exclut la colonne 'EmployeeID' des dataframes pour ne traiter que les colonnes date/heure
df_in_time_dates = df_in_time.drop(['EmployeeID'], axis=1)
df_out_time_dates = df_out_time.drop(['EmployeeID'], axis=1)

# Conversion des valeurs string en datetime pour permettre la soustraction des temps
# Nota : Certaines valeurs sont "NA" => conversion en NaT
df_in_time_dates = df_in_time_dates.apply(pd.to_datetime, errors='coerce')
df_out_time_dates = df_out_time_dates.apply(pd.to_datetime, errors='coerce')

# Calcul de la différence (out_time - in_time) par employé et par jour
df_hours = df_out_time_dates - df_in_time_dates  # Résultat en format timedelta

# Convertir les timedelta en nombre d'heures (float)
df_hours = df_hours.apply(lambda x: x.dt.total_seconds() / 3600)

# Exemple : Calcul d'une statistique agrégée (moyenne d'heures/jour travaillé) pour chaque employé
df_hours['mean_work_hours'] = df_hours.mean(axis=1)

# On peut aussi calculer le nombre de jours d'absence (journées entières manquantes => in_time = NA & out_time = NA)
# ou le ratio de jours travaillés vs le total possible, etc.
# Ci-dessous un exemple de calcul du nombre de jours (colonnes) pour lesquels l'entrée est manquante
nb_jours_total = df_hours.shape[1] - 1  # -1 car la dernière colonne est 'mean_work_hours' qu'on vient d'ajouter
df_hours['absent_days'] = df_hours.iloc[:, :-1].isna().sum(axis=1)  # On ne compte pas la col. 'mean_work_hours'

# Concaténer EmployeeID pour pouvoir refusionner
df_hours_final = pd.concat([df_in_time_id, df_hours[['mean_work_hours','absent_days']]], axis=1)

## 4.3) Merge avec df_merged pour rajouter ces nouvelles features

In [47]:
df_merged = pd.merge(df_merged, df_hours_final, on='EmployeeID', how='left')

print("\n=== Aperçu des données fusionnées ===\n")
print(df_merged.head())
print(df_merged.info())

=== Aperçu des données fusionnées ===

   Age Attrition     BusinessTravel              Department  DistanceFromHome  \
0   51        No      Travel_Rarely                   Sales                 6
1   31       Yes  Travel_Frequently  Research & Development                10
2   32        No  Travel_Frequently  Research & Development                17
3   38        No         Non-Travel  Research & Development                 2
4   32        No      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   YearsAtCompany YearsSinceLastPromotion YearsWithCurrManager  \
0               1                       0                    0
1               5                       1                    4
2               5                       0                    3
3               8                       7                    5
4               6                       0                    4

   EnvironmentSatisfaction  JobSatisfaction WorkLifeBalance  JobInvolvement  \
0                      3.0              4.0             2.0               3
1                      3.0              2.0             4.0               2
2                      2.0              2.0             1.0               3
3                      4.0              4.0             3.0               2
4                      4.0              1.0             3.0               3

   PerformanceRating  mean_work_hours  absent_days
0                  3         7.373651           29
1                  4         7.718969           25
2                  3         7.013240           19
3                  3         7.193678           26
4                  3         8.006175           16

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
 24  EnvironmentSatisfaction  4385 non-null   float64
 25  JobSatisfaction          4390 non-null   float64
 26  WorkLifeBalance          4372 non-null   float64
 27  JobInvolvement           4410 non-null   int64
 28  PerformanceRating        4410 non-null   int64
 29  mean_work_hours          4410 non-null   float64
 30  absent_days              4410 non-null   int64
dtypes: float64(6), int64(17), object(8)
memory usage: 1.0+ MB
None

# 5) Nettoyage et préparation des données

## 5.1) Gérer les valeurs manquantes

In [48]:
# On regarde déjà combien de valeurs manquantes par colonne
missing_values = df_merged.isnull().sum()
print("\n=== Nombre de valeurs manquantes par colonne ===\n", missing_values)

=== Nombre de valeurs manquantes par colonne ===
 Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
JobInvolvement              0
PerformanceRating           0
mean_work_hours             0
absent_days                 0
dtype: int64

In [49]:
# Dropna sur la colonne Attrition car c'est notre target
df_merged = df_merged.dropna(subset=['Attrition'])

In [56]:
# Exemple d'imputation : pour 'mean_work_hours' et 'absent_days', on remplace les NaN par la moyenne
# On privilégie la moyenne ici car les valeurs de type durée (heures) ne sont pas fortement bornées
df_merged['mean_work_hours'] = df_merged['mean_work_hours'].fillna(df_merged['mean_work_hours'].mean())
print(f"Filled missing values for column 'mean_work_hours' with mean value {df_merged['mean_work_hours'].mean()}")
df_merged['absent_days'] = df_merged['absent_days'].fillna(df_merged['absent_days'].mean())
print(f"Filled missing values for column 'absent_days' with mean value {df_merged['absent_days'].mean()}")

Filled missing values for column 'mean_work_hours' with mean value 7.700791784478147
Filled missing values for column 'absent_days' with mean value 24.73469387755102

In [59]:
# Pour les colonnes de satisfaction ou autres colonnes numériques manquantes, on peut aussi faire un fillna
# On privilégie la médiane
num_cols = ['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance', 
            'JobInvolvement', 'PerformanceRating', 'TotalWorkingYears', 'NumCompaniesWorked',]
for col in num_cols:
    if col in df_merged.columns:
        df_merged[col] = df_merged[col].fillna(df_merged[col].median())
        print(f"Filled missing values for column {col} with median value {df_merged[col].median()}")

Filled missing values for column EnvironmentSatisfaction with median value 3.0
Filled missing values for column JobSatisfaction with median value 3.0
Filled missing values for column WorkLifeBalance with median value 3.0
Filled missing values for column JobInvolvement with median value 3.0
Filled missing values for column PerformanceRating with median value 3.0
Filled missing values for column TotalWorkingYears with median value 10.0
Filled missing values for column NumCompaniesWorked with median value 2.0

## 5.2) Nettoyage de certaines colonnes (ex: Over18, EmployeeCount, StandardHours)

In [52]:
# On remarque souvent dans ce dataset "EmployeeCount" est toujours 1 => pas d'intérêt
# "Over18" est toujours "Y", "StandardHours" est souvent 8 => on peut les drop
cols_to_drop = ['Over18','StandardHours','EmployeeCount'] 
for c in cols_to_drop:
    if c in df_merged.columns:
        df_merged.drop(c, axis=1, inplace=True, errors='ignore')

## 5.3) Conversion de colonnes catégorielles en numériques

In [54]:
# Par exemple, Attrition = Yes/No, Gender = Male/Female, etc.
# On peut les encoder, soit via LabelEncoder, soit via OneHotEncoder
# Commençons par un label encoding simple pour la variable cible

df_merged['Attrition'] = df_merged['Attrition'].map({'Yes':1, 'No':0})

# Autres colonnes catégorielles (BusinessTravel, Department, EducationField, Gender, MaritalStatus, JobRole...)
cat_cols = ['BusinessTravel','Department','EducationField','Gender','MaritalStatus','JobRole']

# On va faire un one-hot-encoding rapide:
df_merged = pd.get_dummies(df_merged, columns=cat_cols, drop_first=True)

KeyError: "None of [Index(['BusinessTravel', 'Department', 'EducationField', 'Gender',\n       'MaritalStatus', 'JobRole'],\n      dtype='object')] are in the [columns]"

# 6) Séparation des données en train/test

In [30]:
# On sépare la cible (Attrition) des features

X = df_merged.drop(['EmployeeID','Attrition'], axis=1)
y = df_merged['Attrition']

# Ensuite on fait un split train/test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

# 7) scaling et entraînement d'un modèle simple

In [31]:
# Selon le modèle (Logistic Regression par exemple), il peut être intéressant de standardiser
# Ici on va montrer un exemple de pipeline manuel (scaling + logistic regression).

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## 7.1) Entrainement d'un modèle de Logistic Regression

In [38]:
#clf_lr = LogisticRegression(random_state=42, max_iter=500)
#clf_lr.fit(X_train_scaled, y_train)

Age                                   0
DistanceFromHome                      0
Education                             0
JobLevel                              0
MonthlyIncome                         0
NumCompaniesWorked                   15
PercentSalaryHike                     0
StockOptionLevel                      0
TotalWorkingYears                     0
TrainingTimesLastYear                 0
YearsAtCompany                        0
YearsSinceLastPromotion               0
YearsWithCurrManager                  0
EnvironmentSatisfaction               0
JobSatisfaction                       0
WorkLifeBalance                       0
JobInvolvement                        0
PerformanceRating                     0
mean_work_hours                       0
absent_days                           0
BusinessTravel_Travel_Frequently      0
BusinessTravel_Travel_Rarely          0
Department_Research & Development     0
Department_Sales                      0
EducationField_Life Sciences          0
EducationField_Marketing              0
EducationField_Medical                0
EducationField_Other                  0
EducationField_Technical Degree       0
Gender_Male                           0
MaritalStatus_Married                 0
MaritalStatus_Single                  0
JobRole_Human Resources               0
JobRole_Laboratory Technician         0
JobRole_Manager                       0
JobRole_Manufacturing Director        0
JobRole_Research Director             0
JobRole_Research Scientist            0
JobRole_Sales Executive               0
JobRole_Sales Representative          0
dtype: int64